.main-header {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.links a {
  text-decoration: none;
  color:black;
  font-size: x-large;
  text-transform: capitalize;
  margin: 0 0 0 10px;
}

.header-icon {
  font-size: xx-large;
}

/* mens wear  */

.main-body .first-img {
 display: inline;
 flex-direction: row;
 justify-content: space-between;
}

.first-img img{
  width: 15%;
  margin:  0 0 0 7rem;
  /* box-shadow: 1px 1px 5px black; */
  padding: 20px;
}

.mens-wear h2 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 45px;
}

/* cloths and juwery for sale */

.prod {
  display:flex;
  border: solid 1px transparent;
  border-radius: 15px;
  box-shadow: 5px 5px 12px black;
  padding: 7px;
  margin: 40px 0 0 0;
}

.prod img {
   width:15%;
}

.category h4 {
  font-size: 50px;
  text-transform: capitalize;
  font-weight: 500;
}